.one  {
  color: #001d3d;
}

.two  {
  color: #003566;
}

.three {
  color: #ffc300;
}

.four {
  color: #ffd60a
}

.first{
  background-color: #003566;
}

.second {
background-color:  #001d3d;

}
